@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap");

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
} */
/* Basic styles */
/* Base styles for the header section */
/* Base styling for the header section */
.section__wrapper {
  width: 100%;
  box-shadow: 0 2px 4px rgba(81, 107, 152, 0.16);
  z-index: 1;
  background-color: #fff;
}

/* Container for the header content */
.container_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Logo image styling */
.container_wrapper img {
  width: 200px;
  margin-right: 10px;
  margin-left: 140px;
  max-width: 100%;
  height: auto;
}

/* Right container for menu and buttons */
.rightContainer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
    position: relative;
}

/* Menu items styling for large screens */
.menuItems {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Hide menu button on large screens */
.menuButton {
  display: none;
   background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive styling for small screens */
@media (max-width: 768px) {
  .menuButton {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fd911e; /* Adjust color if needed */
  }

  .container_wrapper {
    padding: 0 1%;
  }

  .container_wrapper img {
    width: 170px;
    margin-left: 30px;
  }

  .rightContainer_wrapper {
    width: 22%;
  }

  .menuItems {
    display: none;
    position: fixed;
    left: -200px;
    top: 80px;
    background-color: #fff;
    width: 200px;
    height: calc(100vh - 80px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 1;
    flex-direction: column;
    padding-top: 10px;
    font-size: 18px;
  }

  .menuItems.open {
    display: flex;
    left: 0;
    width: 33%;
  }
}

/* Additional styling for very small screens */
@media (max-width: 425px) {
  .menuItems.open {
    width: 83%;
  }
}
